body {
  background-color: #000;
  color: #d4d4d4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}
.layout { display: flex; max-width: 1200px; margin: auto; }
h1 { color: #ffffff; font-family: 'Segoe UI', Roboto, sans-serif; font-size: 2.2em; font-weight: 600; text-align: left; }
a { text-decoration: none; color: #4fa3d1; }
a:hover { text-decoration: underline; }
.meta { font-size: 0.9em; color: #888; }
.tags { font-size: 0.9em; color: #bbb; }
table { width: 100%; border-collapse: collapse; }
th { background-color: #333; color: white; padding: 10px; border: 1px solid #444; }
td { padding: 10px; border: 1px solid #444; }
pre {padding: 0px; margin: 0px;}
.content { width: 75%; box-sizing: border-box; background-color: #1a1a1a; border-radius: 8px; overflow: hidden; }
.article { padding-left:20px; padding-right:20px }
.sidebar { width: 25%; background-color: #000; padding: 10px; box-sizing: border-box; }
.grid-container { display: grid; grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)); gap: 30px; }
.grid-item {
  background: #111;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 1000/840;
  max-width: 380px;
  box-shadow: 0 0 6px rgba(0, 100, 150, 0.15);
  border: 1px solid rgba(0, 100, 150, 0.2);
  transition: transform 0.2s ease-in-out;
}
.grid-item:hover { transform: scale(1.02); box-shadow: 0 0 10px rgba(0, 100, 150, 0.4); }
.grid-cover.borderless { border: none; display: block; width: 100%; height: auto; }
.responsive-cover { max-width: 100%; height: auto; }
.grid-text { padding: 10px; }
.grid-title { font-size: 1.1em; color: #ddd; margin: 0 0 5px; }
.highlight, .highlight pre, code, pre { background: #111; color: #ddd; padding: 10px; border-radius: 5px; overflow-x: auto; }
.comment { margin-top: 20px; padding: 10px; background: #111; border-radius: 5px; }
.js-actions-panel { display: none; }
.site-footer { text-align: center; font-size: 0.9em; color: #666; }
.site-footer a { color: #4fa3d1; }
